VITE_CLERK_PUBLISHABLE_KEY=pk_test_YXNzdXJlZC1kb2xwaGluLTczLmNsZXJrLmFjY291bnRzLmRldiQ

VITE_SUPABASE_URL=https://vuxhngpdvsabsvoogpum.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_JATuxnCr1TBhL0g3hdKtBA_uuzJB0xF

# Google Maps API Key (required for geofencing map)
VITE_GOOGLE_MAPS_API_KEY=AIzaSyBbZCOB1FX-0Utvf018V_uJumnW0qfeStg
